h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-color {
  color: #2e2f42;
}

.container {
  max-width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  display: flex;
  /* justify-content: space-between; */
}

/* ============== MOBILE MENU ============== */

.mobile-menu {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .mobile-menu-btn-icon {

  border-radius: 100%;
} */

.mobile-menu-btn-close {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.menu {
  display: none;
}

.mobile-open-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  stroke: #2f2f37;
}
